.header{  
    .burger {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        @include media(1320px) {
            flex-direction: column;
            position: absolute;
            top: 0;
            right: -100%;
            background: #090a1f;
            width: 300px;
            height: 100vh;
            padding: 50px 0;
            border-right: 1px solid rgb(39, 39, 68);
            overflow: auto;
            transition: right 300ms;
            &.active {
                right: 0;
            }
    }
    }  
    &__nav{
        padding: 37px 71px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-menu {
            display: flex;
            max-width: 714px;
            width: 100%;
            justify-content: space-between;
            @include media(1320px){
                flex-direction: column;
            }
            }        
        &-link {
            color: $white;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            transition: all 500ms;
            &:hover {
                color:  #07DBB4;
                padding-bottom: 4px;
                border-bottom: 1px solid #07DBB4;
            }
            @include media(1320px){
                display: block;
                text-align: center;
                padding: 10px;
                &:hover {
                    padding-bottom: 0;
                    border-bottom: 0;
                }
            }
        }
        &-signin {
            padding: 13px 37px;
            color: $white;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            border: 2px solid #07DBB4;
            filter: drop-shadow(0px 0px 11px #45AFC7);
            border-radius: 15px;
        }
        &-block {
            display: flex;
            align-items: center;
            gap: 20px;
            @include media(1320px){
                flex-direction: column;
            }
        }
        &-lang {
            color: white;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            opacity: 0.6;
            cursor: pointer;
            &.active {
                opacity: 1;
                font-weight: 700;
            }
        }
        &-translation{
            display: flex;
            gap: 7px;
        }
        &-btn {
            display: none;
            @include media(1320px){
                display: block;
            }
        }
    }
    .bg {
        position: absolute;
        background: rgb(0, 0, 0, 0.30);
        height: 100vh;
        width: 100vw;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: none;
        &.active {
            display: block;
        }
    }
}