.header{ 
    &__nav{
        padding: 37px 71px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-menu {
            display: flex;
            max-width: 714px;
            width: 100%;
            justify-content: space-between;
            &.nav-burger {
                display: block;
                margin-bottom: 30px;
                flex-direction: column;
                align-items: center;
            }
            @include media(1320px){
                display: none;
            }
        }     
        &-link {
            color: $white;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            transition: all 500ms;
            &:hover {
                color:  #07DBB4;
                padding-bottom: 4px;
                border-bottom: 1px solid #07DBB4;
            }
            @include media(1320px){
                display: block;
                text-align: center;
                padding: 10px;
                &:hover {
                    padding-bottom: 10px;
                    border-bottom: 0px;
                }
            }

        }
        &-signin {
            padding: 13px 37px;
            color: $white;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            border: 2px solid #07DBB4;
            filter: drop-shadow(0px 0px 11px #45AFC7);
            border-radius: 15px;
        }
        &-block {
            display: flex;
            align-items: center;
            gap: 20px;
            @include media(1320px){
                display: none;
            }
        }
        &-lang {
            color: white;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            opacity: 0.6;
            cursor: pointer;
            &.active {
                opacity: 1;
                font-weight: 700;
            }
        }
        &-translation{
            display: flex;
            gap: 7px;
        }
        &-translate {
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
        }
        &-btn {
            background: none;
            outline: none;
            border: none;
            display: none;
            @include media(1320px){
                display: block;
            }
        }
        &-burger{
            position: absolute;
            right: -100%;
            bottom: 0;
            width: 300px;
            height: 100vh;
            display: none;
            transition: right 500ms ease;
            overflow: auto;
            background: #06071B;
            @include media(1320px){
                display: block;            
            }
            &.active {
                right: 0;
            }
        }
    }
}