.main {
    &__container {
        @extend .container;
    }

    // main__benefits

    &__benefits {
        margin-bottom: 100px;
        &-block {
            display: grid;
            grid-template-columns: repeat(6,1fr);
            gap: 30px;
        }
        & h2.title {
            text-align: center;
            margin-bottom: 51px;
        }
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 17px;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 15px;
            &:nth-child(1){
                padding: 29px 30px 27px 30px;
                grid-column: span 2;
            }
            &:nth-child(2){
                padding: 30px 39px 99px 40px;
                grid-column: span 2;
            } 
            &:nth-child(3){
                padding: 34px 39px 51px 40px;
                grid-column: span 2;
            }
            &:nth-child(4){
                grid-column: span 3;
                padding: 22px 41px 36px 41px;
            }
            &:nth-child(5){
                grid-column: span 3;
                padding: 29px 49px 36px 50px;
            }
        }
        &-title {
            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
            color: #FFFFFF;
            text-align: center;
            opacity: 0.9;
        }
        &-text {
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.6;
        }
    }
    // main__supported
    &__supported {
        margin-bottom: 100px;
        &-block{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-title {
            margin-bottom: 20px;
            @extend .title
        }
        &-text {
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            opacity: 0.6;
            max-width: 648px;
            width: 100%;
            text-align: center;
        }
        &-img {
            width: 100%;
        }
    }
    // main__functions
    &__functions{
        margin-bottom: 100px;
        & h2.title {
            text-align: center;
            margin-bottom: 40px;
        }
        &-block{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            column-gap: 30px;
            row-gap: 20px;
        }
        &-top {
            display: flex;
            gap: 12px;
            align-items: center;
            padding-bottom: 19px;
            border-bottom: 1px solid #1C1D39;
            &.fourth{
                padding-bottom: 7px;
            }
        }
        &-title{
            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
            color: #FFFFFF;
            opacity: 0.9;
        }
        &-text {
            margin-top: 20px;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            opacity: 0.6;
        }
        &-item {
            padding: 16px 24px 40px 22px;
            background: #121326;
            border-radius: 5px;
        }
    }
    // main__numbers
    &__number{
        display: flex;
        flex-direction: column;
        gap: 45px;
        margin-bottom: 100px;
        &-num{
            color: transparent;    
            -webkit-background-clip: text;
            background-clip: text;
            background-image: linear-gradient(45deg, #4E067E -17.82%, #42E8E0 106.11%);
            // -webkit-text-fill-color: transparent;
            font-weight: 700;
            font-size: 40px;
            line-height: 130%;

        }
        &-title{
            text-align: center;
        }
        &-items{
            display: flex;
            gap: 25px;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 255px;
            width: 100%;
            gap: 20px;
        }
        &-border{
            border-radius: 18px;
            overflow: hidden;
            width: 100%;
            padding: 2px 2px;
            position: relative;
            // padding: 3px;
        }
        &-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            background: #06071B;
            width: 100%;
            height: 180px;
            border-radius: 15px;
            border: 3px solid #121326;
            z-index: -3;
            &::before{
                content: '';
                position: absolute;
                width: 135%;
                height: 165%;
                z-index: -2;
                background-image: conic-gradient(transparent,transparent, #42E8E0);
                animation: animate 4s linear infinite;
                animation-delay: -2s;
            }
            &::after{
                content: '';
                position: absolute;
                width: 135%;
                height: 165%;
                z-index: -1;
                background-image: conic-gradient(transparent, transparent, #7f00d3 );
                animation: animate-v2 4s linear infinite;
                animation-delay: -2s;
            }
        }
        &-icon{
            padding: 15px;
            border-bottom: 1px solid rgb(36, 37, 71);
        }
        &-text-out{
            width: 210px;
        }

    }
}

@keyframes animate 
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate-v2 
{
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(540deg);
    }
}