@include media(1600px){
    .header__nav-menu{
        max-width: 720px;
    }
    .header__nav{
        padding: 30px 20px;
    }
}

@media (max-width:1300px){
    .header__nav{
        &-menu{
            max-width: none;
            margin: 0 15px;
        }
        &-link{
            font-size: 15px;
        }
        &-block{
            flex-direction: column-reverse;
        }
    }

}

@include media(1199px){
    .header{
        &__content{
            &-box{
                &-1{
                    top: 70%;
                    right: 55%;
                }
                &-2{
                    bottom: 75%;
                    left: 70%;
                }
            }
            &-line{
                display: none;
            }
            &-img{
                &-1{
                    left: -10%;
                }
                &-5{
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    // .header{
    //     &__container{
    //         flex-direction: column;
    //         align-items: center;
    //         gap: 80px;
    //     }
    //     &__content{
    //         margin: 30px 0;
    //         &-offer{
    //             align-items: flex-end;
    //         }
    // }
    // }

}


@include media(1100px){
    .desctop-block{
        display: none;
    }
    .header__nav-burger{
        display: block;
    }

}
@include media(992px){
    .header{
        &__container{
            flex-direction: column;
            align-items: center;
            gap: 80px;
        }
        &__content{
            margin: 30px 0;
            &-offer{
                align-items: center;
            }
        }
    }
    .footer{
        &__middle {
            gap: 50px;
        }
        &__bottom {
            &-menu {
                gap: 20px;
            }
        }
    }
}

@include media(767px){
    .footer{
        &__up{
            flex-direction: column;
            gap: 30px;
        }
        &__middle{
            flex-wrap: wrap;
            &-menu {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
    .header__content{
        &-box{
            display: none;
        }
    }
}

@include media(540px){
    .header{
        &__content{
            &-img{
                &-1{
                    top: 65%;
                    left: 0%;
                }
                &-2{
                    bottom: 10%;
                    left: 75%;
                }
                &-3{
                    top: 0%;
                    right: 5%;
                }
                &-4{
                    right: 75%;
                    bottom: 80%;
                    transform: rotate(-40deg);
                }
                &-5{
                    top: 0;
                    left: 0;
                }
            }
                &-btn{
                    display: none;
                }
                &-btn-1{
                    display: flex;
                    width: 90%;
                    border-radius: 5px;
                }
        }
    }
}
@include media(500px){
    .header{
        &__content{
            &-img{
                &-1{
                    left: 0%;
                }
                &-5{
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    .footer{
        &__up{
            flex-direction: column;
            align-items: flex-start;
            &-start {
                flex-direction: column;
                gap: 20px;
                align-items: flex-start;
            }
        }
        &__middle {
            border: none;
            justify-content: flex-start;
            &-menu {
                display: none;
            }
            &-title {
                display: none;
            }
        }
        &__bottom {
            flex-direction: column;
            gap: 40px;
            &-menu {
                flex-direction: column;
            }
        }
    }
}

