$xxl: 1320px;
$xl: 1140px;
$lg: 960px;
$md: 720px;
$sm: 540px;
$gutters: 30px;
$gutters-side: calc($gutters / 2);

@mixin media($size: 1399px) {
    @media (max-width: $size) {
        @content;
    }
}

@mixin container($padding: $gutters-side) {
    max-width: $xxl;
    width: 100%;
    margin: 0 auto;
    padding: 0 $padding;
    
    @include media(1399px) {
        max-width: $xl;
    }
    @include media(1199px) {
        max-width: $lg;
    }
    @include media(991px) {
        max-width: $md;
    }
    @include media(767px) {
        max-width: $sm;
    }
    @include media(576px) {
        max-width: 100%;
    }
}

@mixin row($margin: $gutters-side) {
    display: flex;
    flex-wrap: wrap;
    @if $margin != 0{
        margin: 0 -$margin;
    }
}