* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;

}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

html {
    background: #06071B;
    overflow-x: hidden;
}


body{
    font-family: 'SF';
    font-weight: 400;
    overflow-x: hidden;
}

.container {
    @include container();
}

.row {
    @include row(0);
}
