* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;

}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
html, body {
    overflow-x: hidden;
}

button {
    outline: none;
    border: none;
}

html {
    background: #06071B;
<<<<<<< HEAD
    // overflow-x: hidden;
=======
>>>>>>> 629b39e6bcf0bc96920abbf5b935a426a703a539
}


body{
    font-family: 'SF';
    font-weight: 400;
<<<<<<< HEAD
    // overflow-x: hidden;
=======
>>>>>>> 629b39e6bcf0bc96920abbf5b935a426a703a539
}

.container {
    @include container();
}

.row {
    @include row(0);
}

.run-btn{
    max-width: 280px;
    width: 100%;
    height: 60px;
    background: #07DBB4;
    box-shadow: 0px 0px 14px rgba(66, 232, 224, 0.3);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    line-height: 150%;
    color: $black;
    font-weight: 600;
    transition: all 0.5s ease;
    &:hover{
        background: $white;
    }
}


.big-title{
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.035em;
    font-weight: 500;
    color: $white;
}
.title{
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.035em;
    color: $white;
}
.small-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $white;
    opacity: 0.6;
}