*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

body{
    font-family: 'SF';
    font-weight: 400;
}

.container {
    @include container();
}

.row {
    @include row(0);
}